### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## BibLaTeX auxiliary files:
*.bbl
*.bcf
*.blg

## Intermediate documents:
*.dvi
*-converted-to.*

### Mac OS X ###
## Mac OS X metadata files:
*.DS_Store

## TexPad/Texifier tmp files:
.texpadtmp

## Cover Letters:
coverletter.pdf
